/* =========================================
 * Turf CSS Entries
 * =========================================*/
h1, h2, h3, h4 {
	text-align:center;
	color:navy;
	font-family:Arial, Helvetica, sans-serif;
}

legend {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight: bold;
    font-style: italic;
}


button {
    margin-top:30px;
    font-weight: bold;
    font-size: 16px;
    padding: 5px 10px 5px 10px;
    background-color:#22b8eb;
    border-radius:8px;
}

.lblprompt {
    font-weight: bold;
    font-size: 14px;
    font-family: "Arial";
}

.txtin {
    font-family: "Arial";
    font-size: 14px;
}

.borderDiv {
    border-radius:8px;
    border-style:dotted;
    border-color:black;
    border-width:2px;
}

#addZoneTable {
	margin-left:65px
}

#divAddZone {
    table-layout:fixed;
	width:430px;
}

#divZoneTable {
    table-layout:fixed;
	margin-top:30px;
	width:430px;
	min-height:248px;
	overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}
.tableZone {
	background:#ffffff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:navy;
	margin-left:auto;
    margin-right:auto;
	border-collapse: collapse;
}

.tdZone {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}
/*
   =========================================
   ============= Turf CSS End ==============
   =========================================
 */













